			.characters > div {
				height: 122px;
    			width: 170px;
				border:solid 3px gold;
				float:left;
			}

			.characters > div > img {
				max-width: 136px;
    			margin-top: 12px;
			}





			button{
				max-height:155px;
				padding:0px;
				
			}

			#button{
				max-height:155px;
			}

			h1{
				font-size:4em;
				text-align:center;
				margin-bottom: 20px;
			}

			#background{
				z-index: -1;
			}

				.deathstar{
				z-index: -1;
			}


			.image{
				width:100%;
				position:relative;
			}

					body{
						font-family:deathstar;
						color:goldenrod;
						letter-spacing: 4px;
						padding-left:30px;
						
					}

					#your-character{
						height:130px;
					}

					#your-enemies{
						height:130px;
					}

					#chosen-enemy{
						height:130px;
						margin-bottom:30px
					}

					#attack{
						height:20px;

					}

						.action-section{
							clear:both;
					}